/*   Sitewide  */

.container-donations {
	padding: 20px;
}

html body {
	background-color: rgb(230, 204, 167);
}

#homepage {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 20px;
	background-image: url("/static/img/donations-bg-blue.jpg");
	background-color: rgb(159,224,237);
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover;
}


.hidden {
	display:none;
}

.navbar {
	background-color: #8957c1;
	color: white;
	border-radius: 0px;
}

.navbar-dark .navbar-brand {
	color: white;
}

.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
	color: white;
}

section {
	margin-top: 50px;
}


/*  First row  */

#hero	{
	height: 400px;
}

#splash {
	margin-bottom: 25px;
	font-size: 18px;
}


/* Features Row */

.feature {
	text-align: center;
}

/* Modal */

#modalLabel {
	color: black;
}