{% extends 'base.html' %} 
{% block title %}Create Org{% endblock %} 

{% block body %} 
    <h1>CREATE ORG</h1>

    <h2>Create an Organization Account</h2>
    <form action="/users" method="POST">
        <p>
            Email <input type="text" name="email">
        </p>

        <p>
            Password <input type="password" name="password">
        </p>

        <p>
            Organization Name <input type="text" name="org_name">
        </p>

        <p>
            Organization Description <input type="text" name="org_description">
        </p>

        <p>
            Organization Website <input type="text" name="org_website">
        </p>

        <p>
            <input type="submit">
        </p>
    </form>
{% endblock %}