{% extends 'base.html' %} 
{% block title %}Create Org{% endblock %} 

{% block body %} 
  <h1>CREATE ORG</h1>

  <h2>Create an Organization Account</h2>
  <form action="/org" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      Organization Name <input type="text" name="org_name">
    </p>

    <p>
      Organization Description <input type="text" name="org_description">
    </p>

    <p>
      Organization Website <input type="text" name="org_website">
    </p>

    <p>
      Phone <input type="text" name="phone">
    </p>

    <p>
      Address <input type="text" name="address">
    </p>

    <p>
      City <input type="text" name="city">
    </p>

    <p>
      State <input type="text" name="state">
    </p>

    <p>
      Zip Code <input type="text" name="zip_code">
    </p>

    <p>
      Are in person donations accepted? 
      <input type="radio" name="in_person" value="True">
      <label>Yes</label>

      <input type="radio" name="in_person" value="False" checked>
      <label>No</label>
    </p>

    <p>
      If in person donations are accepted, what are the hours? 
      <input type="text" name="donation_hours">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}