{% extends 'base.html' %} 
{% block title %}Create Account{% endblock %} 

{% block body %} 

<div class="col-md-4">
    <br />
    <h2>Create Account</h2>
    <br />
    <form action="/create-account" method="POST">
      <div class="user-setup">
        <div class="form-group">
          <label for="FormControlEmail2">Email Address</label>
          <input type="email" class="form-control" 
            id="FormControlEmail2" name="email" 
            placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="FormControlPassword2">Password</label>
          <input type="password" class="form-control" 
            id="FormControlPassword2" name="password" 
            placeholder="Create Password">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" 
            id="FormControlRadio1" name="acct_type"
            value="donor_acct" checked>
          <label class="form-check-label" for="FormControlRadio1">
            Donor Account (I have stuff to donate!)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" 
            id="FormControlRadio2" name="acct_type"
            value="org_acct">
          <label class="form-check-label" for="FormControlRadio2">
            Organization Account (We need donations!)
          </label>
        </div>
        <div class="donor-details">
          <div class="form-group">
            <label for="FormControlFname">First Name</label>
            <input type="text" class="form-control" 
              id="FormControlFname" name="fname">
          </div>
          <div class="form-group">
            <label for="FormControlLname">Last Name</label>
            <input type="text" class="form-control" 
              id="FormControlLname" name="lname">
          </div>
        </div>
        <div class="org-details" style="display:none">
          <div class="form-group">
            <label for="FormControlOrgName">Organization Name</label>
            <input type="text" class="form-control" 
              id="FormControlOrgName" name="org_name">
          </div>
          <div class="form-group">
            <label for="FormControlOrgDescription">Organization Description</label>
            <textarea class="form-control" id="FormControlOrgDescription" 
              rows="4" name="org_description">
            </textarea>
          </div>
          <div class="form-group">
            <label for="FormControlOrgWebsite">Organization Website</label>
            <input type="text" class="form-control" 
              id="FormControlOrgWebsite" name="org_website">
          </div>
          <p>Add details for a first location. 
            Don't worry, additional locations can be added later.
          </p>
          <div class="form-group">
            <label for="FormControlOrgPhone">Phone</label>
            <input type="text" class="form-control" 
              id="FormControlOrgPhone" name="phone">
          </div>
          <div class="form-group">
            <label for="FormControlOrgAddress">Street Address</label>
            <input type="text" class="form-control" 
              id="FormControlOrgAddress" name="address">
          </div>
          <div class="form-group">
            <label for="FormControlOrgCity">City</label>
            <input type="text" class="form-control" 
              id="FormControlOrgCity" name="city">
          </div>
          <div class="form-group">
            <label for="FormControlOrgState">State</label>
            <input type="text" class="form-control" 
              id="FormControlOrgState" name="state">
          </div>
          <div class="form-group">
            <label for="FormControlOrgZip">Zip Code</label>
            <input type="text" class="form-control" 
              id="FormControlOrgZip" name="zip_code">
          </div>
          <p>
            Are in person donations accepted? 
          </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" 
              id="FormControlRadio3" name="in_person"
              value="True">
            <label class="form-check-label" for="FormControlRadio3">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" 
              id="FormControlRadio4" name="in_person"
              value="False" checked>
            <label class="form-check-label" for="FormControlRadio4">
              No
            </label>
          </div>
          <div class="location-donation-hours" style="display:none">
            <div class="form-group">
              <label for="FormControlDonationHours">When are the donation hours?</label>
              <input type="text" class="form-control" 
                id="FormControlDonationHours" name="donation_hours">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
      </div>
    </form>
  </div>

{% endblock %}