{% extends 'base.html' %} 
{% block title %}Donor Home{% endblock %} 

{% block body %} 
  <div class="row align-items-center text-center" id="account_home">
    <section class="col-6 mx-auto">
      <h2>Welcome Donor!</h2>
      <br />
      <br />
    </div>

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Search Needed Items</h3>
      <form action="/search-results">
        <div class="form-group">
          <label for="FormControlSearchItems">Enter Item</label>
          <input type="text" class="form-control" 
            id="FormControlSearchItems" name="item">
        </div>
        <button type="submit" class="btn btn-primary">Search Items</button>
      </form>
    </div>
  </div>
{% endblock %}