{% extends 'base.html' %} 
{% block title %}Donation Finder Home{% endblock %} 

{% block body %} 
    <h1>Welcome to Donation Finder!</h1>

    <h2>Navigation</h2>
    <ul>
        <li>I've been here before! <a href="/login">Login here</a></li>
        <li>I have stuff to donate! <a href="/create-donor">Create a donor account here</a></li>
        <li>Our organization needs donations! <a href="/create-org">Create an organization account here</a></li>
        <!-- <li><a href="/orgs">View all organizations</a></li> -->
        <li><a href="/items">Search needed items</a></li>
        <li><a href="/logout">Logout here</a></li>
    </ul>
{% endblock %}
