{% extends 'base.html' %} 
{% block title %}Login{% endblock %} 

{% block body %}
  <div class="row">
    <div class="col-md-4">
      <h2>Login</h2>
      <form action="/account", method="POST">
        <div class="form-group">
          <label for="FormControlEmail1">Email Address</label>
          <input type="email" class="form-control" 
            id="FormControlEmail1" name="email" 
            placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="FormControlPassword1">Password</label>
          <input type="password" class="form-control" 
            id="FormControlPassowrd1" name="password" 
            placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div> 
  </div>

{% endblock %}