{% extends 'base.html' %} 
{% block title %}Organization Home{% endblock %} 

{% block body %} 
    <h1>Welcome Organization!</h1>

    <h2>Navigation</h2>
    <ul>
        <li>We need to add a location. <a href="/add_location">Add location</a></li>
        <li>We need view current locations. <a href="/locations">View locations</a></li>
        <li>We need items! <a href="/add_items">Request items</a></li>
        <li>Show currently listed items. <a href="/view_items">Show items</a></li>
    </ul>
{% endblock %}