{% extends 'base.html' %} 
{% block title %}Item Search{% endblock %} 

{% block body %} 
  <h1>SEARCH ITEMS</h1>

  <h2>Search Items</h2>
  <form id="search-form">
    <div class="form-group">
      Enter item name here:
      <input class="form-control" type="text" name="searched-item"
        id="item-field" placeholder="item name">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Search Items</button>
    </div>
  </form>

  <div id="searched-item-info"></div>
  <h2>Search Results</h2>

  <dl>
    <dt>Item Name</dt>
    <dd id="item-name">Unknown</dd>

    <dt>Item ID</dt>
    <dd id="item-id">Unknown</dd>

    <dt>QTY</dt>
    <dd id="item-qty">Unknown</dd>
  </dl>
</section>

{% endblock %}